:root {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    font-size: 1.5rem;
}

body {
    margin: 0px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 9fr;
    justify-items: center;
}

header {
    grid-column: 1 / span 2;
}

h1 {
    font-size: 2.5rem;
}

.sidebar {
    grid-column: 1;
}

.card-wrapper {
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    height: 200px;
    padding: 20px;
    border: 1px solid black;
}

.book-details {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 10px;
    text-align: right;
    margin-bottom: 5px;
    font-weight: bold;
}

.book-details > span {
    text-align: left;
    font-weight: normal;
    word-wrap: break-word;
    word-break: break-all;
}

form > ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    align-items: center;
    gap: 15px 10px;
}

.form-radio {
    justify-self: start;
}

.form-button {
    justify-self: center;
}

form > h2 {
    font-size: 2rem;
    text-align: center;
}

.error {
    border: 2px solid red;
}